@media (max-width: 768px){
    .burger {
        display: block;
        margin-right: 50px;
    }
    .links {
        display: none;
        flex-direction: column;
        /* background-color: blueviolet; */
        position: absolute;
        width: 150px;
        height: 150px;
        left: 20px;
        top: 70px;
        padding: 10px;
        

    }
    .active{
        display: block;
        background-color: rgb(193, 218, 217);
    }
        /* მთავარი გვერდი */
    .arrow-left {
        left: 115px;
    }
    .arrow-right {
        right: 115px;
    }
    .text h2 {
        font-size: 16px;
        
    }
    #home {
        background-color: rgb(197, 241, 241);
    }

    .mtavari {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; 
        
        gap: 15px;
        padding-top: 10px;
        padding-left: 60px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
    }
    .mtavari_img {
        width: 300px;
        height:200px;
       
    }
    .mtavari_img:hover {
        width: 350px;
        height: 250px;
    }
   
    
}

/* mobail */
@media (max-width: 480px) {
    .arrow-left {
        /* left: 30px; */
        display: none;
        
    }
    .arrow-right {
        /* right: 30px; */
        display: none;
    }
    .text h2 {
         font-size: 16px; 
    
    }
    #slider {
        width: 90%;
        height: 200px;
        object-fit: cover;
    }
    .slider-title {
        font-size: 16px;
        color: rgb(243, 238, 238);
        font-weight: bold;
        margin-top: 30px;
    }
    #home {
        background-color: antiquewhite;
    }
    .mtavari {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mtavari_img {
        width: 90%;
        max-width: 300px;

}

       
        
}

/*  სერვისები */

@media (max-width: 768px) {
    .servis h2 {
        font-size: 20px;
    }
    .divider1 {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 10px;
    }
    .divider1 :first-child {
        width: 48%; 
    }
    .divider1 :nth-child(2){
        width: 48%;
    }
    .divider1 :last-child {
        width: 100%;
        
    } 
    .servis1 {
        background-color: rgb(218, 248, 238);
    }
    .servis1 h3 {
        font-size: 20px;
    }
    .servis1-img {
        width: 600px;
        
        cursor: pointer;
        /* object-fit: contain;  */
         
    }
    .ab_text {
        font-weight: bold;
    }
    .servis1 ul li {
        font-weight: bold;
    }
       
} 
  /* მობილური */
@media (max-width: 480px) {
    .servis h2 {
        font-size: 18px;
    }
    .divider1 {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 5px;
    }
    .divider1 :first-child {
        width: 100%; 
    }
    .divider1 :nth-child(2){
        width: 100%;
    }
    .divider1 :last-child {
        width: 100%;
        
    } 
    .servis1 {
        background-color: rgb(241, 245, 221);
    }
    .servis1 h3 {
        font-size: 18px;
    }
    .servis1-img {
        padding-top: 5px;
    }
    .ab_text {
        font-weight: bold;
        font-size: 14px;
    }
    .servis1 ul li {
        font-weight: bold;
        font-size: 14px;
    }
}

    /* სიახლეები */
 @media (max-width: 768px){
    .divider {
         flex-wrap: nowrap; 
        flex-direction: column;
        align-items: center;
        background-color: rgb(242, 245, 244);
        
    }
   
    .wraper-body {
        width: 90%;
        padding: 10px;
        background-color: rgb(243, 186, 168);
    }
    .fontSize {
        font-size: 16px;
    }
    .acordion h2 {
        font-size: 24px;
    }


 }

 @media (max-width: 480px){
    .divider {
        max-width: 90%;
        
        flex-wrap: nowrap; 
       flex-direction: column;
       align-items: center;
       background-color: rgb(226, 247, 239);
      
       
   }
   .image {
    font-size: 14px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 35px;
    padding-right: 25px;
    }
   .img {
   
    width: 200px;
    height: 200px;
    
   }

    .wraper-body {
        width: 80%;
        padding: 10px;
        background-color: rgb(222, 199, 190);
    }
    .fontSize {
        font-size: 14px;
    }
    .acordion h2 {
        font-size: 20px;
    }


}

    /* კონტაქტი */

@media (max-width: 768px) {
    .div-map {
        width: 100%;
        max-width: 350px;
        height: 250px;
        margin: 0 auto;
        padding: 10px; 
        display: block;
        box-sizing: border-box;
        border: 1px solid rgb(246, 179, 179);
         
    }
    .div-map iframe {
        width: 100%;
        height: 230px;
        max-width: 100%;
    }
    .div-contact h2 {
        font-size: 20px;
    }
 }

 @media (max-width: 480px){
    .div-contact {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding:10px;
        box-sizing: border-box;
        
        
    }
    .div-map {
        width: 100%;
        max-width: 350px;
        height: 250px;
        margin: 0 auto;
        padding: 10px; 
        display: block;
        box-sizing: border-box;
        border: 1px solid rgb(246, 179, 179);
         
    }
    .div-map iframe {
        width: 100%;
        height: 230px;
        max-width: 100%;
    }
    .div-contact h2 {
        font-size: 20px;
    }
   

    
 }