@media (max-width: 768px){
    .burger {
        display: block;
        margin-right: 50px;
    }
    .links {
        display: none;
        flex-direction: column;
        /* background-color: blueviolet; */
        position: absolute;
        width: 150px;
        height: 150px;
        left: 20px;
        top: 70px;
        padding: 10px;
        

    }
    .active{
        display: block;
        background-color: rgb(193, 218, 217);
    }
        /* მთავარი გვერდი */
    .arrow-left {
        left: 115px;
    }
    .arrow-right {
        right: 115px;
    }
    .text h2 {
        font-size: 24px;
        
    }
    #home {
        background-color: aqua;
    }

    .mtavari {
        justify-content: center;
         flex-wrap: wrap; 
         margin-left: auto;
        gap: 15px;
    }
    .mtavari_img {
        width: 300px;
        height:200px;
    }
    .mtavari_img:hover {
        width: 350px;
        height: 250px;
    }
}

/* mobail */
@media (max-width: 480px) {
    .arrow-left {
        left: 40px;
    }
    .arrow-right {
        right: 40px;
    }
    .text h2 {
        font-size: 16px;
        
    }
    #slider {
        width: 90%;
        height: 75vh;
    }
    .slider-title {
        font-size: 24px;
        color: rgb(43, 36, 36);
        font-weight: bold;
    }
    #home {
        background-color: antiquewhite;
    }
       
        
}

/*  სერვისები */

@media (max-width: 768px) {
    .servis h2 {
        font-size: 20px;
    }
    .divider1 {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 10px;
    }
    .divider1 :first-child {
        width: 48%; 
    }
    .divider1 :nth-child(2){
        width: 48%;
    }
    .divider1 :last-child {
        width: 100%;
        
    } 
    .servis1 {
        background-color: rgb(218, 248, 238);
    }
    .servis1 h3 {
        font-size: 20px;
    }
    .servis1-img {
        width: 600px;
        
        cursor: pointer;
        /* object-fit: contain;  */
         
    }
    .ab_text {
        font-weight: bold;
    }
    .servis1 ul li {
        font-weight: bold;
    }
       
} 
  /* მობილური */
@media (max-width: 480px) {
    .servis h2 {
        font-size: 18px;
    }
    .divider1 {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 5px;
    }
    .divider1 :first-child {
        width: 100%; 
    }
    .divider1 :nth-child(2){
        width: 100%;
    }
    .divider1 :last-child {
        width: 100%;
        
    } 
    .servis1 {
        background-color: rgb(241, 245, 221);
    }
    .servis1 h3 {
        font-size: 18px;
    }
    .servis1-img {
        padding-top: 5px;
    }
    .ab_text {
        font-weight: bold;
        font-size: 14px;
    }
    .servis1 ul li {
        font-weight: bold;
        font-size: 14px;
    }
}

    /* სიახლეები */
 @media (max-width: 768px){

 }

 @media (max-width: 480px){

}

    /* კონტაქტი */

@media (max-width: 768px) {

 }

 @media (max-width: 480px){
    .div-contact {
        background-color: white;
        display: block;
    }
    .div-map {
        width: 300px;
        height: 180px;
        margin: 0 auto;
        padding-right: 5px;
    }
    .div-contact h2 {
        font-size: 20px;
    }
   

    
 }