@import url("//cdn.web-fonts.ge/fonts/arial-geo-bold/css/arial-geo-bold.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* slider */

#slider {
    width: 70%;
    height: 85vh;
    position: relative;
    margin: 0 auto;
    
    margin-top: 80px;
    
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 20%;
    color: aquamarine;
    cursor: pointer;
    border: none;
    font-size: 15px;
    z-index: 2;


}
.arrow-left {
    left: 200px;
}
.arrow-right {
    right: 200px;
}
.arrow :hover {
    border: 2px solid white;
}

/* java */
.slider-title {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* font-family: ; */
    /* font-size: ; */
    letter-spacing: 0.15rem;
    color: azure;
    padding: 20px 70px;
    text-align: center;
}

/* წერტილები*/
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(20, 20, 20);
    
}
.dot.active {
    
    background-color: rgb(251, 251, 251) ;
}
.dots {
    display: flex;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    cursor: pointer;

}



/* #home {
    height: 100%;
    
    background-color: aquamarine;
    background-image: url("https://nationalparks.ge/files/155255317835%E1%83%99%E1%83%9D%E1%83%9A%E1%83%AE%E1%83%94%E1%83%97%E1%83%981.jpg");
    background-size:cover;
    background-position: center; 
    background-repeat:no-repeat;
    background-attachment: fixed;
   

}
.other {
    background-image: none;
    /* background-color: gray; */
/* } */

header {
    background-color: rgb(156, 246, 241);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

.logo {
    
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

 
a {
    text-decoration: none;
    color: rgb(6, 34, 2);
    font-size: 20px;
}
a:hover {
    color: brown;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.links {
    display: flex;
    font-family: 'BPG WEB 002 Caps';
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    gap: 20px;
}
.links li {
    display: inline;
}
.burger {
    position: relative;
    display: none;
    font-size: 30px;
    color: rgb(18, 1, 1);
} 



/* დასრულდა header */

/* .title {
   
   margin-top: 200px;
   display: inline-block;
   color: rgb(245, 107, 43);
  
   margin-left: 30px;
   font-family: 'BPG WEB 002 Caps';
   font-size: 50px;

}
.text {
    margin-left: 30px;
    font-family: "Arial GEO Bold", sans-serif;
    font-size: 30px;
    color: rgba(156, 246, 242, 0.503);
} */
.icons {
    position: absolute;
    bottom: 10px; 
    right: 10px;
    font-size: 30px;
    color: rgba(244, 76, 57, 0.503);
    display: flex;
    gap: 10px;
}
.icons :hover {
    color: rgb(2, 13, 43);
}
.line {
    width: 4px;
    height: 30px;
    background-color:rgba(244, 76, 57, 0.503); 
}

/* ნიუსები */

.divider {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    margin: 10px;
    
}
.image {
    width: 500px;
    /* height: 400px; */
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    text-align:left;
    font-size: 15px;
    font-family: "Arial GEO ", sans-serif;
    padding-top: 70px;
    padding-right: 10px;
    box-sizing: border-box;
    gap: 10px;
   
    
}
.img {
    width: 260px;
    height: 350px;
}
.img:hover {
    position: contain;
}

.foto {
    display: flex;
    justify-content: space-between;
    background-color: rgba(170, 243, 152, 0.934);
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}

.foto img {
   height: 400px;
}
/* უნდა გავსტილო ტექსტი article*/


/* about */
.servis {
    margin-top: 75px;
  border: 5px dashed green;
}
.servis h2 {
    background-color: rgb(133, 230, 98);
    display: block;
    text-align: center;
    font-family: 'BPG WEB 002 Caps';
    font-size: 24px;
    color: rgba(255, 89, 0, 0.797);
    padding: 10px;
    }
.divider1 {
    display: flex;
    justify-content: space-around;
}
.servis1 {
    width: 400px;
}
.servis1 img {
    width: 350px;
}
.video {
    display: flex;
    justify-content: center;
    
}
.container {
    display: flex;
   margin-left: 30px;
   margin-top: 50px;
   background-color: blue;
}

/* contact */

.div-contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 30px;
    font-weight: bold;
    gap: 30px;
    background-color: rgb(94, 72, 91);
}
.div-contact h2 {
    font-family: 'BPG WEB 002 Caps';
    font-size: 24px;
    color: rgb(232, 232, 238);
}
.div-li {
    margin-top: 30px;
    color: rgb(12, 27, 6);

}

/* form */
.form {
    background-color: blue;
}

