@import url("//cdn.web-fonts.ge/fonts/arial-geo-bold/css/arial-geo-bold.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home {
    background-color: rgb(233, 236, 240);
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
.other {
    background-color: #e7e7ef;
}
/* slider */

#slider {
    width: 70%;
    height: 85vh;
    position: relative;
    margin: 0 auto;
    
    margin-top: 80px;
    
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: rgb(113, 125, 188);
    border-radius: 50%;
    color: rgb(196, 235, 222);
    cursor: pointer;
    border: none;
    font-size: 15px;
    z-index: 2;
    padding-top: 5px;
    


}
.arrow-left {
    left: 235px;
    
}
.arrow-right {
    right: 235px;
}
.arrow:hover {
    
    border: none;
    color: rgb(28, 30, 30);
    
}

/* java */
.slider-title {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
     font-family: 'BPG WEB 002 Caps'; 
    font-size: 30px;
    letter-spacing: 0.15rem;
    color: rgb(245, 242, 238);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px 70px;
    text-align: center;
    
}

/* წერტილები*/
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(20, 20, 20);
    
}
.dot.active {
    
    background-color: rgb(251, 251, 251) ;
}
.dots {
    display: flex;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    cursor: pointer;

}


header {
    background-color: rgb(156, 246, 241);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 3;
}

.logo {
    
    height: 40px;
    margin-top: 5px;
    margin-left: 20px;
}

 
a {
    text-decoration: none;
    color: rgb(6, 34, 2);
    font-size: 20px;
}
a:hover {
    color: brown;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.links {
    display: flex;
    font-family: 'BPG WEB 002 Caps';
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    gap: 20px;
}
.links li {
    display: inline;
}
.burger {
    position: relative;
    display: none;
    font-size: 30px;
    color: rgb(18, 1, 1);
} 



/* დასრულდა header */


 .text h2 {
    margin-top: 20px;
    text-align: center;
    font-family: "Arial GEO Bold", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(11, 11, 11, 0.937);
}  
.mtavari {
    margin-left: 150px;
    margin-right: auto;
    margin-top: 20px;
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
   
}
.mtavari_img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
   
     
}
.mtavari_img:hover {
    content: "";
    width: 400px;
    height: 300px;
    opacity: 0,2;
}


 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background: #9b9d9e; 
    color: rgb(236, 246, 231);
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    
 }
 .sakontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
 }
 .sakontacto ul li a {
    color: #a4f0d0;
 }

 .icons-top {
    display: flex;
    align-items: center;
    gap: 40px;
 }
 .icons-top i {
    font-size: 24px;
    color: #f7f4f4;
 }
 .icons-top i:hover {
    color: #161515;
 }
 ul {
    list-style: none;
    padding: 0;

}
.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.line-line {
    width: 4px;
    height: 30px;
    background-color:white
}
.fa-youtube {
    color: rgba(227, 14, 14, 0.877);
    font-size: 24px;
}
.fa-youtube:hover {
    
    font-size: 30px;
}
.fa-facebook {
    color: blue;
    font-size: 24px;
}
.fa-facebook:hover {
   
    font-size: 30px;
}
.fa-twitter {
    font-size: 24px;
    color: #ccc;
}
.fa-twitter:hover {
    font-size: 30px;
}

/* ნიუსები */

.divider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    margin: 10px;
    
}
.image {
    width: 500px;
   
    /* background-color: rgb(236, 241, 246); */
    display: flex;
    justify-content: space-evenly;
    text-align:left;
    font-size: 16px;
    font-family: "Arial GEO ", sans-serif;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 5px;
    box-sizing: border-box;
    gap: 10px;
   
    
}
.image ::first-line{
    font-weight: bold;
    color: brown;
}
 .img {
    width: 260px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
} 



.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(214, 239, 208, 0.934);
    padding: 20px;
    gap: 10px;
    text-align: center;
}
#hidden-text {
    display: none;
    max-width: 800px;
    font-size: 16px;
    color: rgb(68, 68, 69);
    text-align: justify;
    padding: 10px;
}

.text-cont:hover{
    
    font-weight: bold;
   
}
.toggle-btn-cont {
    margin-top: 10px;
}
#toggle-btn {
    display: inline-block;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    padding: 8px 12px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
}

.img-cont img {
   max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  margin-top: 70px;
}



/* about */
.servis {
    
    width: 100%;
    margin-top: 75px;
  
}
.servis h2 {
    background-color: rgb(223, 226, 221);
    display: block;
    text-align: center;
    font-family: 'BPG WEB 002 Caps';
    font-size: 24px;
    color: rgba(11, 13, 103, 0.797);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    }
 .divider1 {
    padding: 10px;
    width: 100%;
    display: flex;
     justify-content: space-around; 
    background-color: rgb(241, 241, 239);
} 
.servis1 {
    width: 30%;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    
}
.servis1 h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial GEO ", sans-serif;
    color: blue;
    padding-left: 20px;
    cursor: pointer;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.servis1 h3:hover {
    color: rgb(135, 135, 213);
}
.servis1-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 5px;
    
}
.ab_text {
    font-size: 16px;
    text-align:start;
    font-family: "Arial GEO ", sans-serif;
    color: rgb(2, 2, 51);
    flex-grow: 1;
    margin-top: 10px;
    
    
}
.servis1 ul li {
   
    color: rgb(4, 2, 42);
     list-style: none; 
     text-align: left;
}

h4 {
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
    font-family: "Arial GEO ", sans-serif;
    cursor: pointer;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
h4:hover{
    color: rgb(245, 138, 8);
    
}
.ab-section {
   
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
   padding: 20px;
}
.ab-section div {
    max-width: 250px;
    
   
    
}
.ab-section  img {
    width: 100%;
    height: 200px;
    /* padding-left: 10px; */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out; 
}
/* მაუსზე შეხებისას ზომა ოდნავ გაიზრდება */
.ab-section img:hover {
    transform: scale(1.05);
}

/* ინფორმაციის წამოღება */
.abaut--title {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}


#ul_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-around;
    padding: 0;
}
#ul_list li {
    display: inline-block;
     margin-left: 10px; 
    
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
#ul_list img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
#ul_list p {
    margin-top: 10px;
    font-size: 16px;
    color: #161515;
}
.button-cont {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}

#loadprev {
    width: 60px;
    height: 40px;
    background-color: rgb(72, 83, 88);
    border-radius: 20%;
    cursor: pointer;
    padding-top: 2px;
    
    
    
}
#loadprev:hover {
    background-color: #9b9d9e;
}
#loadnext {
    width: 60px;
    height: 40px;
    background-color:rgb(72, 83, 88); 
    border-radius: 20%;
    cursor: pointer;
    padding-top: 2px;

} 
#loadnext:hover {
    background-color: #9b9d9e;
}
.fa-arrow-left {
    font-size: 20px;
    
    padding-top: 8px;
    text-align: center;
}
.fa-arrow-left:hover {
    color: #161515;
}

.fa-arrow-right {
    font-size: 20px;
    padding-top: 8px;
}
.fa-arrow-right:hover{ 
    color: #161515;
}



/* contact */

.div-contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 30px;
    font-weight: bold;
    gap: 30px;
    /* background-color: rgb(238, 215, 235); */
}
.div-contact h2 {
    font-family: 'BPG WEB 002 Caps';
    font-size: 24px;
    color: rgb(21, 21, 37); 
}
.div-li {
    margin-top: 50px;
    padding-top: 10px;
    color: rgb(12, 27, 6);

}
/* .fa-arrow-right {
    font-size: 25px;
} */



/* form */
.forma {
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
}

form {
    display: flex;
    flex-direction: column;  
    gap: 15px;  
    padding: 30px;
    background: #a4f0d0; 
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 300px; 
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.radio-group {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.errorText {
    color: red;
    font-size: 12px;
}

/* acordion */

.acrd {
    margin: 20px;
}

.acordion {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.wraper-body {
    background-color: rgb(181, 205, 205);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
.acordion-container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    
}
.fontColor {
    color: rgb(8, 8, 19);
}
.fontSize {
    font-size: 20px;
}

.acordion-title {
    position: relative;
    padding: 30px 0;
    cursor: pointer;
}
.acordion-title::before {
    content: "+";
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    right: 20px;
    font-size: 25px;
}
.acordion h2 {
    font-size: 30px;
    padding-top: 80px;
}
.last {
    padding-bottom: 80px;
}

.acordion-description {
    width: 100%;
    font-size: 16px;
    height: 0;
    overflow: hidden;
}
.line {
    width: 100%;
    height: 0.5px;
    background-color: azure;
}

.acordion-container.active .acordion-description {
    height: 200px;
    padding: 10px;
}

.acordion-container.active .acordion-title::before {
    content: "-";
    font-size: 25px;
}

